<ion-header>
  <ion-toolbar>
      <ion-buttons slot="secondary">
          <ion-button [routerDirection]="'root'" [routerLink]="['/toc']">
            <ion-icon slot="icon-only" name="arrow-dropleft"></ion-icon>
            TOC
          </ion-button>
        </ion-buttons>
    <ion-title>The Third Part</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada dictum dapibus. Aenean vel hendrerit arcu, vel rhoncus metus. Integer mattis odio ante, eu pharetra nisl vulputate sit amet. In auctor augue in quam varius posuere. Vestibulum feugiat suscipit rutrum. Cras sit amet aliquet tortor. Curabitur pretium vestibulum gravida. Sed scelerisque euismod lacus eget ullamcorper. Sed egestas massa metus. Quisque lectus quam, tempor congue ante sed, tempus blandit odio. Etiam porttitor diam sed arcu scelerisque iaculis. Sed sed fringilla ipsum.</p>

<p>Duis nec massa scelerisque quam pulvinar molestie eget et tortor. Maecenas et libero ut ipsum eleifend dapibus. Duis laoreet laoreet ornare. Vivamus semper dignissim elit, in semper neque molestie vitae. Fusce congue placerat congue. Maecenas sed auctor turpis. Cras malesuada lacinia velit nec feugiat. Mauris luctus lacus ac orci tempor egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In pretium urna dui, nec gravida turpis rhoncus eget. Nulla in ligula felis. Maecenas nec dui fringilla, sollicitudin diam commodo, fringilla ipsum. Vestibulum sit amet vestibulum eros, eu placerat nunc.</p>

<p>Proin ultricies elit nec vehicula consequat. Vestibulum tristique elit id imperdiet commodo. Suspendisse pellentesque est at nulla rhoncus, nec rhoncus mauris condimentum. Vivamus vel lorem ac urna auctor sagittis eu non justo. Donec vulputate lacus vel nulla aliquet, ut ullamcorper ante tristique. Nunc ac erat ut tortor euismod porta. Suspendisse ut dolor sit amet ipsum cursus imperdiet et vulputate est. Suspendisse nisi mi, interdum at consectetur vel, convallis porta nisl. Curabitur in ligula at arcu fringilla auctor. Nulla vehicula posuere bibendum. Praesent tempor auctor euismod. Quisque auctor nisl eu hendrerit laoreet. Nulla vitae ullamcorper tellus. Phasellus eget nunc vitae lorem sodales dignissim. Quisque efficitur justo sem, vitae placerat sapien tincidunt et.</p>

<p>Vivamus non mauris metus. Duis ut luctus metus. Aenean vehicula quam vitae velit posuere vulputate. Nunc nec augue mi. Etiam iaculis eget est a lobortis. Sed blandit ipsum vestibulum, hendrerit tortor in, aliquet arcu. Vivamus ultricies, quam eu vulputate sollicitudin, nisi tellus posuere nisi, quis pulvinar elit eros in metus. Aliquam bibendum fringilla diam sed commodo. Suspendisse interdum est ut odio sodales, eget convallis dui tempor. Cras ut eros vel ex sodales auctor. In ac velit a augue finibus interdum. Morbi vel convallis arcu. Aliquam tristique nibh in tortor dignissim tempor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus vitae sem quis velit porttitor varius.</p>

<p>Duis eget vulputate sem. Nam dictum imperdiet urna, maximus sagittis nunc mollis in. Donec iaculis finibus dui, eget venenatis sem. Ut in lorem ac tortor tincidunt dictum a vitae nibh. Nunc velit dolor, luctus scelerisque odio eu, gravida consequat risus. Phasellus in congue mauris. Donec rutrum dignissim lectus, quis sodales justo dictum in. Sed tincidunt id dolor et ultricies.</p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button [routerDirection]="'root'" [routerLink]="['/chapter2']">
        <ion-icon slot="icon-only" name="arrow-dropleft"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>3 of 4</ion-title>

    <ion-buttons slot="primary">
      <ion-button [routerDirection]="'root'" [routerLink]="['/chapter4']">
        <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>