<ion-header>
  <ion-toolbar>
      <ion-buttons slot="secondary">
          <ion-button [routerDirection]="'root'" [routerLink]="['/toc']">
            <ion-icon slot="icon-only" name="arrow-dropleft"></ion-icon>
            TOC
          </ion-button>
        </ion-buttons>
    <ion-title>Fin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>A nation of whiners? Tell that to the proud auto workers at a Michigan plant who, after they found out it was closing, kept showing up every day and working as hard as ever, because they knew there were people who counted on the brakes that they made. When I listen to another worker tell me that his factory has shut down, I remember all those men and women on the South Side of Chicago who I stood by and fought for two decades ago after the local steel plant closed.</p>

<p>The questions I had didn't magically disappear. Legalized discrimination - where blacks were prevented, often through violence, from owning property, or loans were not granted to African-American business owners, or black homeowners could not access FHA mortgages, or blacks were excluded from unions, or the police force, or fire departments - meant that black families could not amass any meaningful wealth to bequeath to future generations. Not with an economy to fix and cities to rebuild and farms to save. The second major source of tension that we need to discuss is the situation between Israelis, Palestinians and the Arab world.</p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button [routerDirection]="'root'" [routerLink]="['/chapter3']">
        <ion-icon slot="icon-only" name="arrow-dropleft"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>4 of 4</ion-title>

    <ion-buttons slot="primary">
      <ion-button [routerDirection]="'root'" [routerLink]="['/toc']">
        <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>